h2 {
    color: #222;
    margin-top: 0;
}

h3 {
    color: #444;
}

body {
    background-color: red;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
}


main {
    padding: 40px;
}


section {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

header a {
    display: inline-block;
    background-color: white;
    color: #222;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

header a:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    .projects {
        grid-template-columns: 1fr;
    }

    main {
        padding: 20px;
    }
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}